<div class="container-fluid bg-primary text-white p-2 px-5">
    <div class="container nav d-felx justify-content-between">
        <ul class="mb-0 p-0">
            <span class="me-3">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                9021 Győr, Szent István út 7.
            </span>
            <span class="mx-3">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
                <a href="tel:+3696529480" class="text-white text-decoration-none">+36 96 529480</a>
            </span>
            <span class="mx-3">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <a href="mailto: jedlik@jedlik.eu" class="text-white text-decoration-none"> jedlik@jedlik.eu</a>
            </span>
            <span class="mx-3">
                OM azonosító: 203037/003
            </span>
        </ul>

        <ul class="nav nav-item mb-0">
            <li class="nav-item mx-1">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
            </li>
            <li class="nav-item mx-1">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
            </li>
            <li class="nav-item mx-1">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
            </li>
        </ul>
    </div>
</div>
<div class="conatiner-fluid shadow">
    <div class="container nav">
        <img src="https://jedlik.eu/images/Jedlik-logo-2020-200.png" class="img-logo mt-2" alt="">
        <ul class="nav py-4 ps-5 ms-5">
            <li class="nav-item px-3">
                Iskolánkról
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </li>
            <li class="nav-item px-3">
                Képzéseinkről
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </li>
            <li class="nav-item px-3">
                Névadónkról
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </li>
            <li class="nav-item px-3">
                Iskolánk a médiában
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </li>
            <li class="nav-item px-3">
                Generátor alapítvány
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </li>
            <li class="nav-item px-3">
                Elérhetőségeink
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid m-0 p-0">
    <div style="position: relative;" class="video">
        <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: 0;">
            <video playsinline="true" autoplay="autoplay" loop="loop"
                src="https://jedlik.eu/images/banners/Banner_Jedlik.mp4"
                style="position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; transform: translate(-50%, -50%); max-width: inherit;"></video>
        </div>
    </div>
    <div class="container">
        <div class="bg-transparent text-center">
            <h4>Győri SZC <span class="fs-large">Jedlik Ányos</span> Gépipari és Informatikai Technikum és Kollégium</h4>
        </div>
    </div>
</div>
<div class="container-fluid m-0 p-0 py-2 bg-warning">
    <div class="container my-3 bg-white">
        <ul class="nav d-felx justify-content-betwen">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">
                
            </li>
        </ul>
    </div>
</div>