.img-logo{
    position:absolute;
    /* top: 3rem;
    left: ; */
    max-height: 10rem;
}
.fs-large{
    font-size: 3rem;
}
.menu-item{
    font-variant: small-caps;
    color: #4056a1;
    font-size: 1.5rem;
}
.bg-blue{
    background-color: rgb(64, 86, 161);
}
.background{
    background-image: url(../../assets/background.png);
    height: 30rem;
    position: relative;
    z-index: -2;
}
.bottom{
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.menu-bar{
    margin-left: 5rem;
}