.img-logo{
    position:absolute;
    /* top: 3rem;
    left: ; */
    max-height: 10rem;
}
.video{
    height: 30rem;
}
.fs-large{
    font-size: 3rem;
}
.bg-transparent{
    background-color: rgba(0, 0, 255, 0.774);
}
.menu-item{
    font-variant: small-caps;
    color: #4056a1;
    font-size: 1.5rem;
}