<div class="container-fluid bg-footer p-3 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <img src="https://jedlik.eu/images/Jedlik-logo-2020-200.png" alt="">
            </div>
            <div class="col-12 col-md-3">
                <div class="moduletable ">
                    <h6 class="module-title">Elérhetőség:</h6>
                    <div class="custom">
                        <p>9021 Győr, Szent István út 7.</p>
                        <p>Tel.: +36 96 529480</p>
                        <p>E-mail: <a class="text-decoration-none text-white" href="mailto:jedlik@jedlik.eu">jedlik@jedlik.eu</a></p>
                        <p>OM azonosító: 203037/003</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1129.3640437645909!2d17.62931483257571!3d47.682565024796496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476bbffacc7d0121%3A0x3c21b0233aee52f!2sGy%C5%91ri%20Szakk%C3%A9pz%C3%A9si%20Centrum%20Jedlik%20%C3%81nyos%20G%C3%A9pipari%20%C3%A9s%20Informatikai%20Technikum%20%C3%A9s%20Koll%C3%A9gium!5e0!3m2!1shu!2shu!4v1610817244190!5m2!1shu!2shu"
                    height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
                    class="w-100"></iframe>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-7">
                <p>Digitális munkarend során kezelt személyes adatok kezelése</p>
            </div>
            <div class="col-12 col-md-5 d-flex justify-content-end">
                <form class="form-search" role="search">
                    <div class="input-group">
                        <input type="text" name="search" id="search" class="form-control m-1" size="25" value=""
                            placeholder="Keresés...">
                        <button class="m-1 btn btn-blue" type="submit" title="Indítás">
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Keresés
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>