<div class="container">
    <div class="row m-2 mt-5">
        <div class="col-12 col-md-9 m-0 p-0">
            <h2 class="ms-2 text-blue">Legfrisebb hírek</h2>
            <news-panel [content]=newsPanels></news-panel>
            <div class="d-flex flex-row-reverse me-2">
                <a href="#" class="btn btn-blue">További híreink...</a>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="bg-gray text-center p-3">
                <img class="advent" src="https://jedlik.eu/images/stories/advent/adventi_gyertya2_1.gif" alt="">
                <div class="customgeneratoralapitvany">
                    <h3 class="text-blue">Generátor Alapítvány</h3>
                    <img src="https://jedlik.eu/images/Genrator_alapitvany_Jedlik_1.jpg"
                        alt="Generátor alapítvány Jedlik 1%" class="w-75">
                    <p class="m-0">Adószám: 18535143-1-08</p>
                    <p class="m-0"><strong>Köszönjük támogatását!</strong></p>
                </div>
                <a href="http://jsi.jedlik.eu">
                    <img src="https://jedlik.eu/images/jsi_logo.png" alt="jsi logo" class="w-50">
                </a>

                <h3 class="text-blue">
                    „Ebigél”
                </h3>
                <p class="text-blue">
                    a Jedlik anonim tanácsadó rendszere
                </p>
                <a href="#" class="btn m-2 btn-blue">Étkezés megrendelés</a>
                <p class="text-blue mt-3">Könyvtári katalógus megnyitása</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid m-0 bg-yellow p-4 py-5 mt-2">
    <div class="container">
        <div class="row">   
            <div class="col-12 col-md-6">
                <h2 class="text-blue">Képzéseink</h2>
                <div class="custom">
                    <a href="/kepzeseink/altalanos-iskolasoknak" class="btn btn-yellow d-block my-3">Beiskolázási
                        tájékoztató a nappali tagozatos osztályairól</a>
                    <a href="/component/content/article?id=244&amp;Itemid=560" class="btn btn-yellow d-block my-3">Érettségi
                        vizsgára épülő szakképzés</a>
                    <a href="/kepzeseink/felnottek-szakmai-oktatasa-kepzese-esti-tagozat-tanfolyam"
                        class="btn btn-yellow d-block my-3">Felnőttek szakmai oktatása, képzése</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    <img src="https://jedlik.eu/images/kepzeseink/szoftverfejleszto_v1.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-img">
    <div class="mx-auto">
        <p class="fw-bold img-text text-center p-2 mx-5">Gyere velünk egy virtuális kirándulásra!</p>
    </div>
</div>
<div class="container p-3">
    <h3 class="text-blue my-4">Naptári események</h3>
    <iframe
        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBudapest&amp;src=amVkbGlrQGplZGxpay5ldQ&amp;src=aHUuaHVuZ2FyaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2330487E&amp;color=%231F753C&amp;showTz=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showNav=1&amp;showTitle=0"
        scrolling="no" frameborder="0" height="600" width="100%" style="border-width: 0;"></iframe>
    <div class="d-flex justify-content-center m-5">
        <img src="https://jedlik.eu/images/jedlik_120/jedlik120-5.jpg" alt="" class="m-3">
    </div>
    <div class="mx-4">
        <img src="https://jedlik.eu/images/stories/bannerek/Microsoft_IT_Academy.jpg" alt="" class="m-1 logos">
        <img src="https://jedlik.eu/images/stories/bannerek/oracle.jpg" class="m-1 logos">
        <img src="https://jedlik.eu/images/stories/bannerek/cisco_partner_logo.png" alt="" class="m-1 logos">
        <img src="https://jedlik.eu/images/stories/bannerek/ecdllogo.jpg" alt="" class="m-1 logos">
        <img src="https://jedlik.eu/images/stories/bannerek/leonardo_education.jpg" alt="" class="m-1 logos">
        <img src="https://jedlik.eu/images/stories/bannerek/ecdl_magyarorszag_logo.jpg" alt="" class="m-1 logos">
        <img src="https://jedlik.eu/images/stories/bannerek/hatartalanul.jpg" alt="" class="m-1 logos">
        <img src="https://jedlik.eu/images/stories/bannerek/ut_a_tudomanyhoz_logo_szines_rgb.jpg" alt="" class="m-1 logos">
        <img src="https://jedlik.eu/images/stories/bannerek/b%C3%A1zis_kerek.png" alt="" class="m-1 logos">
    </div>
    <p class="text-center text-blue my-5"><a href="/images/stories/pdf/A_referencia_intzmny_Jedlik_zr_beszmol-1.pdf">Referencia intézmény vagyunk</a></p>
</div>