.bg-transparent-blue{
    background-color: rgba(64, 86, 161, 0.6);
}
.text-blue{
    color: #4056a1;
}
.bg-yellow{
    background-color: rgb(239, 226, 186);
}
body{
    background-color: rgb(248, 249, 250);
}